<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-warning">
  <a class="navbar-brand" href="#">
    Angular Firebase
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">AGREA UNA NUEVA TARIA</h3>
            <img width="300" alt=" Logo" src="../img/img1.png">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body"></div>
            <app-todo></app-todo>
        </div>
      </div>
    </div>
  </div>
</div>